body{
    font: 12px/20px Arial, Verdana, 微软雅黑, "Lucida Grande", "Lucida Sans Unicode", Helvetica, sans-serif;
}
a{
    /*font-weight: bold;*/
    /*font: 18px/30px "微软雅黑";*/
    color:#333;
}
ul{
    padding-left: 0px;
}
li{
    list-style: none;
}
dl.last{
    margin-bottom:0px;
}
dl{
    margin-top:10px;
    margin-bottom: 14px;
}
dt{
    display: block;
}
ol{
    margin-bottom: 0px;
}
#csdn-topbar li a{
    font-weight: bold;
}
.h-title{
    border-left:4px solid #0a6999;
    padding-left: 15px;
    border-bottom:1px dashed #0a6999;
}
.h-title span{
    color:#0a6999;
}
.h-title-1{
    font-size:1.4em;
    border-left:4px solid #0a6999;
    padding-left: 15px;
    border-bottom:1px dashed #0a6999;
}
.h-title-1 span{
    color:#0a6999;
}
.am-middle-top dd{
    font-weight: bolder;
    font: 18px/30px "微软雅黑";
    color:#333;
    overflow: hidden;
}
.am-middle-top dt{
    font-weight:normal;
    font-size:12px;
}
.am-middle-top dt a{
    overflow:hidden;
    /*height:28px;*/
    display: inline-block;
    width:30%;
}
.am-middle-top dt.last{
    border-bottom:1px dashed #e1e1e1;
}
.import_notice{
    display: block;
}
.import_notice a{
    line-height:36px;
    font-size:26px;
    overflow: hidden;
    font-family: "微软雅黑";
    font-weight:bold;
}
.import_notice p{
    font: 14px/22px "宋体";
    color:#888;
    margin-top:10px;
}
.circle{
    display: inline-block;
    background: url('../images/circle.png') no-repeat left center;
    width: 4px;
    height:4px;
    margin-right:5px;
    vertical-align: middle;
}
.sml-news{
    margin-bottom: 0px;
    margin-top:6px;
}
.sml-news li span{
    display:inline-block;
    overflow: hidden;
    float:left;
    width:48%;
}
.sml-news li span a{
    color: #888;
    font: 12px/24px "宋体";
    height:4px;
    overflow: hidden;
}
.am-tab-panel{
    height:380px;
}
.tab_info{
    margin-top:5px;
}
.tab_info li{
    margin-bottom: 14px;
}
.tab_info li span{
    border:1px solid #ccc;
    height:18px;
    width:18px;
    display: inline-block;
    text-align: center;
    font-size:12px;
    line-height: 18px;
}
.tab_info li span.top{
    border:1px solid #0a6999;
    height:18px;
    width:18px;
    display: inline-block;
    text-align: center;
    font-size:12px;
    line-height: 18px;
    color: #fff;
    background-color: #0a6999;
}
.tab_info li a{
    font: 14px/18px "宋体";
    color: #666666;
    margin-left:10px;
    overflow: hidden;
}
.info dl{
    border-bottom: 1px dashed #e1e1e1;
    overflow: hidden;
}
.info dl dd{
    margin-top:5px;
    margin-bottom: 10px;
    font-weight: bold;
    font: 18px/26px "微软雅黑", arial;
}
.info dl dd a{
    display: block;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.info dl dt{
    font: 12px/20px "微软雅黑", arial;
    color:#888;
    /*margin-bottom: ;*/
    word-break: break-all;
}
.btn-sch{
    color:#0a6999;
    background-color: #ffffff;
}
.notice{
    margin-top:15px;
}
.notice_text{
    display: block;
    font-size:1.25em;
    font-weight: bold;
    padding: 5px;
    border-bottom: 2px solid #0a6999;
}
.notice_title{
    margin-top:6px;
    margin-bottom: 10px;
    border-left:4px solid #e5e5e5;
}
.notice_title:hover{
    border-left:4px solid #0a6999;
}
.notice_title a{
    display: block;
    padding-top:8px;
    padding-bottom: 10px;
    padding-left: 15px;
    overflow: hidden;
}
.notice_title_last{
    border-bottom: 1px dashed #e1e1e1;
}
.core_p{

}
.person_img{
    padding-top: 10px;
    text-align: center;
}
.person_img img{
    display: block;
    margin:0 auto;
    width:50px;
    height:50px;
    border-radius: 50%;
}
.person_img p{
    /*display: inline-block;*/
    margin-top: 0px;
}
.footer{
    background-color: #232529;
    height:200px;
    width:100%
}
.company{
    padding:5px 10px 10px 10px;
    display: inline-block;
}
.company_info{
    display: inline-block;
}
.company img{
    height:60px;
    width:80px;
}
.getwork{
    /*border-top:2px solid #232529;*/
    border-bottom:2px solid #232529;
}
.link{
    margin-top:30px;
    margin-bottom: 40px;
}
.link_box{
    height:70px;
    width:70px;
    background-color: #0a628f;
    line-height: 20px;
    /*padding-top:12.5p/x;*/
    padding:15px;
    display: inline-block;
}
.link_box span{
    display: block;
    font-size:20px;
    color:#ffffff;
    font-weight: bold;
    float:left;
}
.link_content{
    display: inline-block;
    padding-left: 0px;
}
.link_content ul li{
    font-size:15px;
    color:#666;
    padding: 5px 10px;
    float: left;
}
.copyright{
    margin-top: 40px;
}
.copyright p a{
    color:white;
    font-weight: bold;
}
.copyright p strong{
    padding-top:10px;
    padding-bottom: 10px;
    color:white;
}
.copyright span{
    color: #CCC;
}

.copyright h1{
    color:#ffffff;
}
.qcode div{
    padding: 2px;
    display: inline-block;
    margin-top:40px;
    margin-left: 200px;
    text-align: center;
}
.qcode img{
    height:100px;
    width:100px;
}
.qcode span{
    margin-top: 5px;
    font-weight: bold;
    color:white;
    font-size:16px;
}
.am-modal-bd form{
    margin-top: 20px;
}
.list_box{
    border-top:4px solid #e4e4e4;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    border-right:1px solid #E4E4E4;
}
.list_box ul li{
    /*display: block;*/
    padding: 10px 10px 10px 0;
    overflow: hidden;
    border-bottom: 1px dashed #e4e4e4;

}
.list_box ul li:hover{
    background-color:rgb(247,247,247) ;
}
.pic{
    padding:0px;
}
.pic p{
    position: absolute;
    top:0px;
    left:0px;
    padding: 0 10px;
    margin: 0px;
    line-height: 30px;
    background-color: rgba(0,0,0,0.4);
}
.pic p a{
    color: #ffffff;
}
.info{
    overflow: hidden;
}
.info h3{
    font-size:20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.info .descript{
    margin-top: 10px;
    margin-bottom: 10px;
}
.time{
    margin-bottom: 0px;
    margin-top:0px;
}
.am-breadcrumb{
    margin-bottom: 0px;
}
.more{
    width:100%;
    background-color: #e4e4e4;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.more a{
    line-height: 40px;
    font-size:15px;
    display: block;
    text-align: center;
}
.cate{
    padding-top: 30px;
}
.cate h2{
    border-left:4px solid #0a6999;
    padding-left: 20px;
}
#div1{
    border:1px solid #000000;
}
@media screen and (max-width: 640px){
    .info h3{
        padding-top: 10px;
    }
}